<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:grey">Header Section</div>
        @RenderBody()
    <div style="background-color:grey">Footer Section</div>
</body>
</html>
