<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] -- @ViewData["ApplicationName"] </title>
</head>
<body>
    <div style="background-color:yellow;">Header Section</div>
        @RenderBody()
    <div style="background-color:lightpink">Footer Section</div>
</body>
</html>
